@using ZoaReference.Features.Routes.Models

@switch (AircraftTypes)
{
    case AliasRouteRule.RouteAircraftTypes.Jet | AliasRouteRule.RouteAircraftTypes.Turboprop | AliasRouteRule.RouteAircraftTypes.Prop:
        <span class="text-gray-500">Any</span>
        break;
    default:
        <span class="text-yellow-500">@AircraftTypes</span>
        break;
}

@code {
    [Parameter, EditorRequired]
    public AliasRouteRule.RouteAircraftTypes AircraftTypes { get; set; } = AliasRouteRule.RouteAircraftTypes.Jet | AliasRouteRule.RouteAircraftTypes.Turboprop | AliasRouteRule.RouteAircraftTypes.Prop;
}