@page "/visualizer"
<div class="flex flex-col grow">
    <div class="text-white text-sm px-1 py-0.5"><a href="https://nctmap.oakartcc.org" target="_blank">Open in new tab</a></div>
    <iframe class="grow bg-white" src="https://nctmap.oakartcc.org"></iframe>
</div>
