@page "/airspaceviz"

@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> Settings

<PageTitle>Airspace Visualizer - @Settings.Value.ARTCC Reference</PageTitle>

<div class="flex flex-col grow">
    <div class="text-white text-sm px-1 py-0.5"><a href="https://airspace.oakartcc.org" target="_blank">Open in new
            tab</a></div>
    <iframe class="grow bg-white" src="https://airspace.oakartcc.org"></iframe>
</div>
