@page "/airspaceviz"

<PageTitle>Airspace Visualizer - ZOA Reference</PageTitle>

<div class="flex flex-col grow">
    <div class="text-white text-sm px-1 py-0.5"><a href="https://airspace.oakartcc.org" target="_blank">Open in new
            tab</a></div>
    <iframe class="grow bg-white" src="https://airspace.oakartcc.org"></iframe>
</div>
